@media (min-width: 640px) and (max-width: 767px) {
    :root {
        --viewport: var(--window-size, 100vw);
    }

    .w-3,
    .w-4,
    .w-5,
    .w-6,
    .w-7,
    .w-8,
    .w-9,
    .w-10,
    .w-11,
    .w-12 {
        --w-span: 8;
    }

    .claim {
        font-size: var(--font-size-8, 3rem);
    }
}
