@media (min-width: 768px) and (max-width: 1023px) {
    :root {
        --viewport: var(--window-size, 100vw);
        --columns: 8;

        font-size: 16px;
    }

    .w-2,
    .w-3 {
        --w-span: 2;
    }

    .w-4,
    .w-5,
    .w-6,
    .w-7 {
        --w-span: 4;
    }

    .w-8,
    .w-9,
    .w-10,
    .w-11,
    .w-12 {
        --w-span: 8;
    }
}
