@import './variables.css';

.card .card__cover {
    display: flex;
    overflow: hidden;
}

.card .card__cover img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 350ms ease-out;
    -webkit-user-drag: none;
}

.card .card__title {
    line-height: 1.125;
}

a.card:hover .card__cover img {
    transform: scale(1.05);
}

a.card:hover .card__title {
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
}

@media (prefers-reduced-motion) {
    .card .card__cover img {
        transition: none;
    }
}
