@import 'https://use.typekit.net/sby1muy.css';
@import '@chialab/cells/lib/layout.css';
@import '@chialab/cells/lib/spacing.css';
@import '@chialab/cells/lib/margins.css';
@import '@chialab/cells/lib/typography.css';

@font-face {
    font-family: 'DiisMonospace';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/DiisMonospace/DiisMonospace-Thin.ttf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'DiisMonospace';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/DiisMonospace/DiisMonospace-Light.ttf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'DiisMonospace';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/DiisMonospace/DiisMonospace-Regular.ttf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'DiisMonospace';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/DiisMonospace/DiisMonospace-Medium.ttf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'DiisMonospace';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/DiisMonospace/DiisMonospace-SemiBold.ttf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'DiisMonospace';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/DiisMonospace/DiisMonospace-Bold.ttf') format('opentype');
    font-display: swap;
}

article header {
    line-height: 1.125;
}

.serif {
    text-rendering: geometricprecision;
}

.sans {
    text-rendering: geometricprecision;
}

.claim {
    margin: 0;
    font-family: var(--font-serif);
    font-size: var(--font-size-9);
    font-weight: 300;
    font-style: normal;
    line-height: 1.267em;
    text-rendering: geometricprecision;
}

.body > *:first-child {
    margin-top: 0;
}

.body > *:last-child {
    margin-bottom: 0;
}

.body p {
    margin: 0;
}

.body blockquote {
    margin: var(--gap) 0 var(--gap) calc(var(--gap) * 4);
    font-size: var(--font-size-4);
    font-style: italic;
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
    margin: 0;
    line-height: 1.125;
}

.body h4 {
    font-size: var(--font-size-5);
    font-weight: normal;
}

.upper {
    text-transform: uppercase;
}
