<main class="tracking-page">
    <dna-map
        center="{{ center|default('') }}"
        data="{{ data|default('{}')|json_encode }}"
        access-token={{ mapboxToken }}
        tile="mapbox://styles/qwerg/cmjcp8ix4001401qug569gbyt"
        zoom="7"
        min-zoom="5"
        controls
    />
</main>

{{ Rna.css("#{_view.theme}.tracking-page", { block: true })|raw }}
