<header class="w-full">
    <h1 class="hidden-title">{{ object.title|default(publication.title) }}</h1>
    {{ element('claim')|raw }}
</header>

<main class="w-full">
    {{ element('folder-layout', { folder: object })|raw }}
</main>
