.card .card__cover {
    display: flex;
    overflow: hidden;
}

.card .card__cover img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 350ms ease-out;
    -webkit-user-drag: none;
}

.card .card__title {
    line-height: 1.125;
}

.card .card__details {
    flex: none;
}

.card[style*='--r:'] {
    --aa-brightness: ((var(--r, 255) * 299) + (var(--g, 255) * 587) + (var(--b, 255) * 114)) / 1000;
    --aa-color: calc((var(--aa-brightness) - 128) * -1000);

    color: rgb(var(--aa-color), var(--aa-color), var(--aa-color));
    background-color: rgb(var(--r, 255), var(--g, 255), var(--b, 255));
}

.card[style*='--r:'] .card__details {
    text-rendering: optimizelegibility;
}

.card:hover .card__cover--zoom img {
    transform: scale(1.05);
}

a.card:hover .card__title {
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
}

.card-small {
    aspect-ratio: 16 / 9;
    max-width: 100%;
    min-height: 6rem;
}

@media (prefers-reduced-motion) {
    .card .card__cover img {
        transition: none;
    }
}
