.gallery_grid {
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(var(--gallery-columns, 4), 1fr);
    align-items: flex-start;
    width: 100%;
}

.gallery_grid > * {
    width: 100%;
    border: solid 1px var(--color-neutral);
}

.gallery_grid img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: var(--gallery-aspect-ratio, 1);
    object-fit: cover;
    object-position: center;
}

.gallery_title {
    display: none;
}

.media_body > embed,
.media_body > iframe,
.media_object {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

[data-placeholder]:has(.media_body, .media_object) {
    width: 100%;
}

dna-backdrop dna-slideshow {
    width: calc(var(--viewport) - 2 * var(--gutter));
    max-width: 100%;
    height: 80vh;
}

dna-backdrop dna-slideshow:focus-visible {
    outline: 0;
}

dna-backdrop dna-slides {
    display: flex;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.avatar {
    width: 10em;
    height: 10em;
    overflow: hidden;
    border-radius: 50%;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bw {
    filter: grayscale(1);
}
