.columns-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(var(--column), 1fr));
    grid-gap: var(--gap);
}

.h-1-half {
    --h-span: 1.5 !important;
}

.flex-none {
    flex: none;
}
