{% set title = object.get('title')|default(null) %}
{% set description = object.get('description')|default(null) %}

<div class="gallery_container column gap-s">
    {% if title is not null and description is not null %}
        <div class="gallery_caption sans f-1 column gap-0">
            {% if title is not null %}
                <span class="gallery_title">{{ title|raw }}</span>
            {% endif %}

            {% if description is not null %}
                <div class="gallery_description">{{ description|raw }}</div>
            {% endif %}
        </div>
    {% endif %}

    <!-- TODO: Display gallery contents -->
</div>
