<footer class="w-full bt-1 py-2 row">
    <div class="footer__info mono light f-s column">
        <span class="mono f-2 column gap-xs bold">
            chialab
            <span class="text-accent" aria-hidden="true">ẞ</span>
        </span>
        <div class="column gap-xs">
            <a href="mailto:info@chialab.it">info@chialab.it</a>
            <span>via Arrigo Lucchini 9</span>
            <span>40134 Bologna, Italy</span>
            <span>+39 0516154398</span>
            <span>IT04224030371</span>
            <span>privacy policy</span>
        </div>
    </div>
</footer>
