<cl-topbar url="{{ Url.build({ _name: 'pages:home' })|escape('html_attr')|raw }}" tooltip="{{ __('Back to home') }}">
    {% for child in menu.children %}
        <a class="link--underline" href="{{ Url.build({
            _name: 'pages:objects',
            _entity: child,
        }) }}">{{ child.title|raw }}</a>
    {% endfor %}
</cl-topbar>
