<cl-topbar url="{{ Url.build({ _name: 'pages:home' })|escape('html_attr')|raw }}" tooltip="{{ __('Back to home') }}">
    {% for child in menu.children %}
        <a class="link--underline" href="{{ Url.build({
            _name: 'pages:objects',
            _entity: child,
        }) }}" {% if ancestors is not empty and ancestors.0.uname == child.uname %}aria-current="page"{% endif %}>{{ child.title|raw }}</a>
    {% endfor %}
</cl-topbar>
