<div class="columns-2">
    {% for item in object.get('has_media') %}
        {% if item.type == 'galleries' %}
            {{ element('gallery', {
                object: item,
                defaultLayout: 'slideshow',
                showTitle: false,
                showDescription: false,
            }) }}
        {% else %}
            {{ Thumb.image(item, 'default')|raw }}
        {% endif %}
    {% endfor %}
</div>
