<header class="column gap-row-2">
    <h1 class="m-0 f-7 serif regular italic title">{{ title|raw }}</h1>
    {% if description is defined and description is not empty %}
        <div class="f-6 serif regular light description balance">
            {{ description|raw }}
        </div>
    {% endif %}
</header>
