@import '../../../styles/variables.css';

cl-topbar {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--color-surface);
    transition: box-shadow 250ms ease-out;
}

cl-topbar[\:fixed] {
    box-shadow: var(--shadow-3);
}

cl-topbar nav a {
    position: relative;
    margin: 0 var(--margin);
    color: inherit;
    font-family: var(--font-mono);
    font-weight: var(--weight-light);
    text-transform: lowercase;
    text-decoration: none;
}

cl-topbar nav a:hover {
    text-decoration: underline;
}

cl-topbar nav a + a::before {
    content: '';
    position: absolute;
    left: calc(-1 * var(--margin));
    display: block;
    height: 100%;
    border-left: solid 1px currentcolor;
}
