@media (max-width: 639px) {
    :root {
        --gutter: var(--spacing, 0.25rem);
    }

    .gap-3,
    .gap-4,
    .gap-5 {
        gap: var(--gap);
    }

    .w-3,
    .w-4,
    .w-5,
    .w-6,
    .w-7,
    .w-8,
    .w-9,
    .w-10,
    .w-11,
    .w-12 {
        --w-span: 4;
    }

    .f-xs {
        font-size: var(--font-size-xsmall);
    }

    .f-s {
        font-size: var(--font-size-xsmall);
    }

    .f-1 {
        font-size: var(--font-size-small);
    }

    .f-2 {
        font-size: var(--font-size-1);
    }

    .f-3 {
        font-size: var(--font-size-2);
    }

    .f-4 {
        font-size: var(--font-size-3);
    }

    .f-5 {
        font-size: var(--font-size-4);
    }

    .f-6 {
        font-size: var(--font-size-5);
    }

    .claim,
    .f-7,
    .f-8,
    .f-9 {
        font-size: var(--font-size-6);
    }

    .gallery_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
