@media (min-width: 640px) and (max-width: 767px) {
    :root {
        --gutter: var(--spacing, 0.25rem);
    }

    .w-3,
    .w-4,
    .w-5,
    .w-6,
    .w-7,
    .w-8,
    .w-9,
    .w-10,
    .w-11,
    .w-12 {
        --w-span: 6;
    }

    .f-xs {
        font-size: var(--font-size-xsmall);
    }

    .f-s {
        font-size: var(--font-size-xsmall);
    }

    .f-1 {
        font-size: var(--font-size-small);
    }

    .f-2 {
        font-size: var(--font-size-1);
    }

    .f-3 {
        font-size: var(--font-size-2);
    }

    .f-4 {
        font-size: var(--font-size-3);
    }

    .f-5 {
        font-size: var(--font-size-4);
    }

    .f-6 {
        font-size: var(--font-size-5);
    }

    .f-7 {
        font-size: var(--font-size-6);
    }

    .f-8 {
        font-size: var(--font-size-7);
    }

    .claim,
    .f-9 {
        font-size: var(--font-size-8);
    }
}
