{
	admin off
	local_certs
	skip_install_trust
	default_sni chialab
}

(common) {
	root * /app/webroot

	encode gzip
	push

	header /build/* ?Cache-Control "public, max-age=604800, immutable"
	header -Server

	file_server {
		hide .*
	}

	log {
		output stderr
		format json
		level INFO
		format filter {
			wrap json
			fields {
				request>headers>Authorization delete
				request>headers>Cookie delete
				resp_headers>Set-Cookie delete
			}
		}
	}
}

(site) {
	php_fastcgi {$PHPFPM_HOST} {
		env FRONTEND_PLUGIN "{args[0]}"
		env THEME "{args[1]}"
		env STATUS_LEVEL "{args[2]}"
		env STAGING "{args[3]}"
		env CACHE_SCOPE "{args[4]}"
	}
}

# Handy macro for redirecting a path prefix to another prefix while preserving the remaining part of the URI.
(redirect) {
	redir {args[0]} {args[1]} permanent
	handle_path {args[0]}/* {
		redir /* {args[1]}{uri} permanent
	}
}

# BEdita API
https://dev-api.chialab.dt.bedita.cloud, https://api.chialab.dt.bedita.cloud, https://api.chialab.it {
	import common

	import site "BEdita/API" "" "off" "false" "api"
}

# Chialab.it
https://dev-it.chialab.dt.bedita.cloud {
	import common

	import ./Caddyfile.d/redirects.it
	import site "Chialab" "Chialab" "draft" "false" "dev"
}
https://chialab.it, https://it.chialab.dt.bedita.cloud {
	header -Server
	redir https://www.chialab.it{uri} 308
}
https://www.chialab.it {
	import common

	import ./Caddyfile.d/redirects.it
	import site "Chialab" "Chialab" "on" "false" "www"
}
https://staging-it.chialab.dt.bedita.cloud {
	header -Server
	redir https://staging.chialab.it{uri} 308
}
https://staging.chialab.it {
	import common

	import ./Caddyfile.d/redirects.it
	import site "Chialab" "Chialab" "draft" "true" "staging"
}

# Chialab.io
https://dev-io.chialab.dt.bedita.cloud {
	import common
	redir https://dev-it.chialab.dt.bedita.cloud{uri} 308
}
https://chialab.io, https://io.chialab.dt.bedita.cloud {
	header -Server
	redir https://www.chialab.io{uri} 308
}
https://www.chialab.io {
	header -Server
	redir https://www.chialab.it{uri} 308
}
https://staging-io.chialab.dt.bedita.cloud {
	header -Server
	redir https://staging.chialab.io{uri} 308
}
https://staging.chialab.io {
	header -Server
	redir https://staging.chialab.it{uri} 308
}

# chialab.dev, chialab.eu, chialab.info, chialab.net, chialab.srl
https://chialab.dev, https://chialab.eu, https://chialab.info, https://chialab.net, https://chialab.srl {
	header -Server
	redir https://www.{host}{uri} 308
}
https://www.chialab.dev, https://www.chialab.eu, https://www.chialab.info, https://www.chialab.net, https://www.chialab.srl {
	header -Server
	redir https://www.chialab.it{uri}
}

# Illustratorium
https://dev-illustratorium.chialab.dt.bedita.cloud {
	import common

	import site "Chialab" "Illustratorium" "draft" "false" "devillustratorium"
}
https://illustratorium.it, https://illustratorium.chialab.it, https://illustratorium.chialab.dt.bedita.cloud {
	header -Server
	redir https://www.illustratorium.it{uri} 308
}
https://www.illustratorium.it {
	import common

	import site "Chialab" "Illustratorium" "on" "false" "illustratorium"
}
https://staging-illustratorium.chialab.dt.bedita.cloud {
	header -Server
	redir https://staging.illustratorium.it{uri} 308
}
https://staging.illustratorium.it {
	import common

	import site "Chialab" "Illustratorium" "draft" "true" "stagingillustratorium"
}

# SKUA
https://dev-skua.chialab.dt.bedita.cloud {
	import common

	import site "Chialab" "Skua" "draft" "false" "devskua"
}
https://skua.it, https://skua.chialab.dt.bedita.cloud {
	header -Server
	redir https://www.skua.it{uri} 308
}
https://www.skua.it {
	import common

	import site "Chialab" "Skua" "on" "false" "skua"
}
https://staging-skua.chialab.dt.bedita.cloud {
	header -Server
	redir https://staging.skua.it{uri} 308
}
https://staging.skua.it {
	import common

	import site "Chialab" "Skua" "draft" "true" "stagingskua"
}

# TODO: Tipografia
# https://dev-tipografia.chialab.dt.bedita.cloud {}

# Health checks
https://chialab, https://localhost, https:// {
	# ALB health check
	respond /status 204

	# Task health check for PHP container
	php_fastcgi {$PHPFPM_HOST}
}
# Task health check for Caddy container
http://localhost {
	respond /status 204
}
