{
	admin off
	local_certs
	skip_install_trust
	default_sni chialab
}

(common) {
	root * /app/webroot

	encode gzip
	push

	header /build/* ?Cache-Control "public, max-age=604800, immutable"
	header -Server

	file_server {
		hide .*
	}

	log {
		output stderr
		format json
		level INFO
		format filter {
			wrap json
			fields {
				request>headers>Authorization delete
				request>headers>Cookie delete
				resp_headers>Set-Cookie delete
			}
		}
	}
}

(site) {
	php_fastcgi {$PHPFPM_HOST} {
		env FRONTEND_PLUGIN "{args[0]}"
		env THEME "{args[1]}"
		env STATUS_LEVEL "{args[2]}"
		env STAGING "{args[3]}"
	}
}

# Handy macro for redirecting a path prefix to another prefix while preserving the remaining part of the URI.
(redirect) {
	redir {args[0]} {args[1]} permanent
	handle_path {args[0]}/* {
		redir /* {args[1]}{uri} permanent
	}
}

# BEdita API
https://dev-api.chialab.dt.bedita.cloud, https://api.chialab.dt.bedita.cloud, https://api.chialab.it {
	import common

	import site "BEdita/API" "" "off" "false"
}

# Chialab.it
https://dev-it.chialab.dt.bedita.cloud {
	import common

	import ./Caddyfile.d/redirects.it
	import site "Chialab" "Chialab" "draft" "false"
}
https://chialab.it {
	header -Server
	redir https://www.chialab.it{uri} 308
}
https://www.chialab.it, https://it.chialab.dt.bedita.cloud {
	import common

	import ./Caddyfile.d/redirects.it
	import site "Chialab" "Chialab" "on" "false"
}

# Chialab.io
https://dev-io.chialab.dt.bedita.cloud {
	import common

	import ./Caddyfile.d/redirects.io
	import site "Chialab" "OpenSource" "draft" "false"
}
https://chialab.io {
	header -Server
	redir https://www.chialab.io{uri} 308
}
https://www.chialab.io, https://io.chialab.dt.bedita.cloud {
	import common

	import ./Caddyfile.d/redirects.io
	import site "Chialab" "OpenSource" "on" "false"
}

# Chialab.dev
https://chialab.dev {
	header -Server
	redir https://www.chialab.dev{uri} 308
}
https://www.chialab.dev {
	header -Server
	redir https://www.chialab.it{uri}
}

# Illustratorium
https://dev-illustratorium.chialab.dt.bedita.cloud {
	import common

	import site "Chialab" "Illustratorium" "draft" "false"
}
https://illustratorium.it {
	header -Server
	redir https://www.illustratorium.it{uri} 308
}
https://www.illustratorium.it, https://illustratorium.chialab.dt.bedita.cloud {
	import common

	import site "Chialab" "Illustratorium" "on" "false"
}

# TODO: Tipografia
# https://dev-tipografia.chialab.dt.bedita.cloud {}

# Health checks
https://chialab, https://localhost, https:// {
	# ALB health check
	respond /status 204

	# Task health check for PHP container
	php_fastcgi {$PHPFPM_HOST}
}
# Task health check for Caddy container
http://localhost {
	respond /status 204
}
