{% set _showCategories = object.get('categories') is not empty and (showCategories is defined ? showCategories : true)  %}
{% set _showLinks = object.get('has_links') is not empty and (showLinks is defined ? showLinks : true) %}
{% if _showCategories or _showLinks %}
    <div class="column gap-xs">
        {% if _showCategories %}
            <ul class="list--comma">
                {% for category in object.categories %}
                    <li class="mono f-xs light">{{ category.label|raw }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if _showLinks %}
            <ul class="list--plain column gap-xs">
                {% for link in object.has_links %}
                    <li class="mono f-xs light"><a
                            class="text-underline"
                            {% if link.get('title') is not empty %}title="{{ link.get('title')|striptags|raw|escape('html_attr') }}"{% endif %}
                            href="{{ link.url|escape('html_attr') }}"
                            target="_blank"
                        >{{ link.title|default(link.url)|raw|striptags }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endif %}
