{% set main = object is defined ? object : publication %}
{% if main.get('description') is not empty %}
    <div class="w-full claim bt-1">
        {{ main.description|striptags|raw }}
    </div>
{% endif %}
