{% set _columns = columns|default(4) %}
<div class="w-full grid">
    {% for item in children %}
        {{ cell('Chialab.Card', { object: item, props: { class: 'w-' ~ _columns } }, {
            cache: {
                key: 'card_' ~ locale ~ '_' ~ item.id ~ '_class:w-' ~ _columns,
            },
        }) }}
    {% endfor %}
</div>
