{% if Manager.isEnabled() and Identity.isLoggedIn() %}
    {% set url = Manager.getViewUrl() %}
    <div class="staging-bar p-2 sans row align-center">
        {% set name = Identity.get('name') ? Identity.get('name') ~ ' ' ~ Identity.get('surname') : Identity.get('username') %}
        <span>Accesso effettuato come: {{ name }}</span>
        {% if object is defined %}
            <a is="dna-button-link" variant="secondary" title="edit this {{ object.type }}" class="sans" target="_blank" href="{{ url }}">Vedi in BEdita</a>
        {% endif %}
        {{ Form.postLink('Clear cache', { _name: 'staging:clearCache' }, {
            class: 'sans',
            is: 'dna-button-link',
            variant: 'secondary',
            confirm: 'Sei sicuro di voler pulire la cache?',
        })|raw }}
        <a is="dna-button-link" variant="secondary" class="sans" href="/logout">Esci</a>
    </div>
{% endif %}
